<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Text Extraction and Entity Recognition</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Text Extraction and Entity Recognition</h1>
      <form id="extract-form" class="mt-4" action="/extract" method="post" enctype="multipart/form-data">
     
        <div class="form-group">
          <label for="image-file">Upload Image</label>
          <input type="file" class="form-control-file" id="image-file" name="image_file">
        </div>
        <button type="submit" class="btn btn-primary">Extract</button>
      </form>
    </div>
  </body>
</html>
